@import '../../styles/colors.scss';

.biografy {
  margin-top: 3em;
  width: 90vw;
  color: $white2;
  .biografyImage{
    figcaption {
      text-align: center;
    }
  }
  @media screen and (min-width: 768px) {
    width: 50vw;
    .biografyImage {
      margin-left: 1em;
      margin-top: 1.2em;
      width: 250px;
      float: right;
    }
  }
}