.biografy {
  width: 90vw;
  padding: 1em 0;
  @media screen and (min-width: 768px) {
      width: 60vw;
    }
  .image {
    float: left;
    width: 120px;
    figcaption {
      font-size: .7em;
      text-align: center;
    }
  }
}