@import '../../styles/colors.scss';

.navClose, .navOpen {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $white1-transparent;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  top: 110%;
  left: 0;
  width: 90vw;
  transition: transform .5s ease-in-out;
  z-index: 20;
  div {
    display: flex;
    align-items: center;
    gap: 5px;
    .subNavIcon, .subNavIconOpen {
      width: 12px;
      transform: rotate(180deg);
      transition: transform 1s ease;
    }
    .subNavIconOpen {
      transform: rotate(0deg);
    }
  }
  @media screen and (min-width: 768px) {
    position: static;
    box-shadow: none;
    width: 100%;
    border-radius: 0 0 .5em .5em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
    li {
      padding: .5em;
      color: $black1;
      font-weight: bold;
      cursor: pointer;
      a {
        cursor: pointer;
      }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        margin: 0;
      }
  }
  .subNav {
    list-style: none;
    padding: 0  0 0.5em;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 37px;
      margin: 0;
      padding: 0;
      background-color: $white3;
      border-radius: 0 0 0.5em 0.5em;
    }
  }
}
.navOpen {
  transform: translateX(-110%);
  @media screen and (min-width: 768px) {
    transform: translateX(0);
  }
}